# Ignore all dataset and output images (uploaded to Google Drive instead)
01_Segmentation_And_Detection_YOLO/outputs/
01_Segmentation_And_Detection_YOLO/inputs/
02_Normalize_Receipts/01_background_removal_and_cropping/input_raw_receipts/
02_Normalize_Receipts/01_background_removal_and_cropping/outputs/
02_Normalize_Receipts/02_rotation_correction/input_cropped_receipts/
02_Normalize_Receipts/02_rotation_correction/outputs/
02_Normalize_Receipts/03_deskewing_and_enhancing/input_rotated_receipts/
02_Normalize_Receipts/03_deskewing_and_enhancing/outputs/
03_text_detection/outputs/
03_text_detection/datasets/
04_text_recognition/outputs/
04_text_recognition/datasets/
05_kie_layoutlmv3/input_ocr_text/*
!05_kie_layoutlmv3/input_ocr_text/000595_jpg.rf.db17d6c6020b439b4368a070afc28d1f.jpg
!05_kie_layoutlmv3/input_ocr_text/000595_jpg.rf.db17d6c6020b439b4368a070afc28d1f.json
05_kie_layoutlmv3/output_final_extraction/*
!05_kie_layoutlmv3/output_final_extraction/000595_jpg.rf.db17d6c6020b439b4368a070afc28d1f_extracted.json
!05_kie_layoutlmv3/output_final_extraction/000595_jpg.rf.db17d6c6020b439b4368a070afc28d1f_predictions.png
!05_kie_layoutlmv3/output_final_extraction/000595_jpg.rf.db17d6c6020b439b4368a070afc28d1f_predictions.pdf
!05_kie_layoutlmv3/output_final_extraction/000595_jpg.rf.db17d6c6020b439b4368a070afc28d1f_structured_output.png
!05_kie_layoutlmv3/output_final_extraction/000595_jpg.rf.db17d6c6020b439b4368a070afc28d1f_structured_output.pdf

# Ignore global datasets
datasets/

# Ignore large model weights (.pt, .pth)
models/
*.pt
*.pth

# Python cache
__pycache__/
*.pyc
